body{
    margin-left: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    
}
.msg {
    background-color: rgb(89, 89, 147);
    color: rgb(172, 222, 246);
    padding :5px 10px;
}
